@use "../utils/colors";
@use "../utils/breakpoints";

.main__shell {
  color: #fff;
  background-color: black;
  flex: 1;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transition: background 0.25s, color 0.25s;

  .main__section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @include breakpoints.breakpoint-tablet-vertical {
      width: 100%;
      max-width: 100vw;
    }
  }
}

.main__shellLight {
  color: #555;
  background-color: #eee;
}
